@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
    font-family: "Raleway", sans-serif;
}

body {
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    margin: 0 auto;
    position: relative;
    background-color: #FFFFFF;
    color: #333333;
    box-sizing: border-box;
    font-weight: normal;
    background: linear-gradient(
        to bottom, 
        rgb(255, 255, 255), 
        rgba(44, 62, 80, 0.5)
    );
    height: 100vh;
    background-size: cover;
}

header {
    width: 100%;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 255, 0.15),
        rgba(255, 255, 255, 0.018)
    );
    
    .header-container{
        min-width: 320px;
        margin: 0 20px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    label.logo {
        font-size: 35px;
        color: #FFFFFF;
        border-radius: 200px;
        background-color: #007BFF;
        transition: all 0.4s ease-in;
        cursor: pointer;
        padding: 5px 80px;
        font-weight: bold;
    }

    label.logo:hover {
        color: #1A1A2E;
    }

    
}

.nav-list-container{
    float: right;

    .nav-links{
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
        
        transition: all 0.5s ease;


        a{
            color: #1A1A2E;
            font-size: 17px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
            transition: all 0.5s ease;
        }

        a:hover{
            color: #007BFF;
        }
    }

    .nav-links:hover{
        transform: scale(1.1);

    }
}


.checkbtn{
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    
}

#check{
    display: none;
}

@media (max-width: 952px){
    header label.logo{
        font-size: 30px;
        padding-left: 30px;
        margin: 10px 0px;
    }
    
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
        color: #1A1A2E;
    }
    

    .nav-list-container{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #1A1A2E;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        

        .nav-links{
            display: block;
            margin: 50px 0;
            line-height: 30px;


            a {
                font-size: 30px;
                color: #FFFFFF;
            }

            a:hover{
                background: none;
                color: #007BFF;
            }
        }
    }

    #check:checked ~ .nav-list-container{
        left: 0;
    }

    .logos{
        z-index: -1;
    }
    
    
}

@keyframes slide {
    from {
        transform: translateX(90%);
    }
    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 30px 0;
    white-space: nowrap;
    position: relative;
}

.logos-slide {
    width: 100%;
    display: inline-block;
    animation: 35s slide infinite linear;
}

.logos-slide img {
    height: 40px;
    margin: 0 40px;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

@media (max-width: 768px) {
    .logos-slide img {
        height: 30px; 
        margin: 0 20px; 
    }
}

@media (max-width: 480px) {
    .logos-slide img {
        height: 25px;  
        margin: 0 10px; 
    }
}









